body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  --swiper-theme-color: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: small !important;
  font-weight: 900;
  background-color: darkseagreen;
  padding: 5px 8px;
  border-radius: 50%;
}

.swiper-button-prev {
  left: -2px !important;
}

.swiper-button-next {
  right: -2px !important;
}

.css-whebh7-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #555555 !important
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #555555 !important
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12) !important
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  background-color: rgb(45, 155, 240) !important
}

.css-b62m3t-container {
  width: 230px
}

.lazy-load-image-background {
  display: block !important;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}